<html>
	<body> 
		<form action="login" method="post" enctype="multipart/form-data">
			Account: <input type="text" name="account"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="submit">
			<p><a href=/createAC>Create Account</a></p>
 		</form>
	</body>
</html>
