<html>
	<body> 
		<form action="uploadRes" method="post" enctype="multipart/form-data">
			Name: <input type="text" name="res_name" required="required"><br>
                        Borough: <input type="text" name="borough"><br>
			Cuisine: <input type="text" name="cuisine"><br>
			Street: <input type="text" name="street"><br>
			Building: <input type="text" name="building"><br>
			Zipcode: <input type="text" name="zipcode"><br>
			GPS Coordinates (lon.): <input type="float" name="lon"><br>
			GPS Coordinates (lat.): <input type="float" name="lat"><br>
			<input type="file" name="filetoupload"><br>
			Photo<br>
			<input type="submit" value="submit">
 		</form>
<h2><a href=/logout>logout</a></h2>
	</body>
</html>
